In [2]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [3]:
path= r'/Users/eleni_icon/09-2024 Instacart Basket Analysis'

In [4]:
# Load the pickle file
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined_merged_new_variables_derived.pkl' ))

In [5]:
# Check dimensions of imported dataframe for consistency
ords_prods_merge.shape

(32399732, 22)

# Task 2

In [6]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.667853
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# Task 3

Conclusion
The results from the entire DataFrame are more reliable as they include all data points, while the subset only provides a partial view. 
Subsets may lead to over- or underestimation of statistical measures like the mean, especially when the subset is not fully representative of the entire population.

# Task 4

In [7]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
5,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
11,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
12,473747,1,3,3,12,21.0,False,12427,2,1,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
13,473747,1,3,3,12,21.0,False,10258,3,1,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
14,473747,1,3,3,12,21.0,False,25133,4,0,...,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
15,473747,1,3,3,12,21.0,False,30450,5,0,...,88,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
16,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,23,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,117,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer

In [8]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: count, dtype: int64

# Task 5

In [9]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'std', 'median']})

                    prices
                      mean  min   max       std median
loyalty_flag
Loyal customer    7.773575  1.0  25.0  4.206151    7.4
New customer      7.801206  1.0  25.0  4.266834    7.4
Regular customer  7.798262  1.0  25.0  4.254886    7.4

# Task 6

In [10]:
# Create a new column for the average spending of a customer
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [11]:
# Check the new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
11,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
12,473747,1,3,3,12,21.0,False,12427,2,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
13,473747,1,3,3,12,21.0,False,10258,3,1,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
14,473747,1,3,3,12,21.0,False,25133,4,0,...,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
15,473747,1,3,3,12,21.0,False,30450,5,0,...,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
16,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797

In [12]:
# Assign spender tag to each customer
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

In [13]:
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [14]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32280013
High_spender      119719
Name: count, dtype: int64

# Task 7

In [15]:
# Create a new column for customer frequency flags based on the median values from 'days_since_prior_order' column
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [16]:
# Check that the column was created successfully and properly
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
5,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
11,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
12,473747,1,3,3,12,21.0,False,12427,2,1,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
13,473747,1,3,3,12,21.0,False,10258,3,1,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
14,473747,1,3,3,12,21.0,False,25133,4,0,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
15,473747,1,3,3,12,21.0,False,30450,5,0,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
16,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5

In [17]:
# Based on the criteria provided, create a column featuring order frequency flags
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] > 10) & (ords_prods_merge['customer_frequency'] <=20), 'frequency_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [20]:
# Check value counts for new column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635743
NaN                             5
Name: count, dtype: int64

In [21]:
ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(60)

    user_id  customer_frequency         frequency_flag
0         1                20.5  Non-frequent customer
1         1                20.5  Non-frequent customer
2         1                20.5  Non-frequent customer
3         1                20.5  Non-frequent customer
4         1                20.5  Non-frequent customer
5         1                20.5  Non-frequent customer
6         1                20.5  Non-frequent customer
7         1                20.5  Non-frequent customer
8         1                20.5  Non-frequent customer
9         1                20.5  Non-frequent customer
10        1                20.5  Non-frequent customer
11        1                20.5  Non-frequent customer
12        1                20.5  Non-frequent customer
13        1                20.5  Non-frequent customer
14        1                20.5  Non-frequent customer
15        1                20.5  Non-frequent customer
16        1                20.5  Non-frequent customer
17        1                20.5  Non-frequent customer
18        1                20.5  Non-frequent customer
19        1                20.5  Non-frequent customer
20        1                20.5  Non-frequent customer
21        1                20.5  Non-frequent customer
22        1                20.5  Non-frequent customer
23        1                20.5  Non-frequent customer
24        1                20.5  Non-frequent customer
25        1                20.5  Non-frequent customer
26        1                20.5  Non-frequent customer
27        1                20.5  Non-frequent customer
28        1                20.5  Non-frequent customer
29        1                20.5  Non-frequent customer
30        1                20.5  Non-frequent customer
31        1                20.5  Non-frequent customer
32        1                20.5  Non-frequent customer
33        1                20.5  Non-frequent customer
34        1                20.5  Non-frequent customer
35        1                20.5  Non-frequent customer
36        1                20.5  Non-frequent customer
37        1                20.5  Non-frequent customer
38        1                20.5  Non-frequent customer
39        1                20.5  Non-frequent customer
40        1                20.5  Non-frequent customer
41        1                20.5  Non-frequent customer
42        1                20.5  Non-frequent customer
43        1                20.5  Non-frequent customer
44        1                20.5  Non-frequent customer
45        1                20.5  Non-frequent customer
46        1                20.5  Non-frequent customer
47        1                20.5  Non-frequent customer
48        1                20.5  Non-frequent customer
49        1                20.5  Non-frequent customer
50        1                20.5  Non-frequent customer
51        1                20.5  Non-frequent customer
52        1                20.5  Non-frequent customer
53        1                20.5  Non-frequent customer
54        1                20.5  Non-frequent customer
55        1                20.5  Non-frequent customer
56        1                20.5  Non-frequent customer
57        1                20.5  Non-frequent customer
58        1                20.5  Non-frequent customer
59        2                13.0       Regular customer

# Task 9

In [22]:
# Check shape before exporting
ords_prods_merge.shape

(32399732, 26)

In [23]:
# Export the updated dataframe as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_merged_new_variables_derived_aggregated.pkl'))